click
cuda-python
imgaug
matplotlib
numpy
onnx
onnxruntime-gpu
onnxsim
opencv-python-headless
pandas
openpyxl
pillow
scikit-image
scikit-learn
scipy
tensorboard
timm
torch
torchvision
tqdm
ultralytics